<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Alquileres</title>
    </head>
    <body>
        <h1>Mis Alquileres</h1>
        <div th:if="${alquileres.isEmpty()}">
            <p>No tienes alquileres registrados.</p>
        </div>
        <div th:unless="${alquileres.isEmpty()}">
            <table>
                <thead>
                    <tr>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Fin</th>
                        <th>Vehículo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="alquiler : ${alquileres}">
                        <td th:text="${alquiler.fechaInicio}">Fecha de inicio</td>
                        <td th:text="${alquiler.fechaFin}">Fecha de fin</td>
                        <td th:text="${alquiler.vehiculo.modelo}">Modelo</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a th:href="@{/user/alquiler/nuevo}">Crear un nuevo alquiler</a>
    </body>
</html>